* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    background-image: url('./images/bg-pattern-desktop.svg');
}

.content-section {
    display: flex;
    flex-direction: column;
    margin-left: 9.5rem;
    margin-top: 4.5rem;
    margin-right: 200px;
    font-family: 'Josefin Sans', sans-serif;
}

.logo_img {
    width: 160px;
    height: 35px;
    margin-bottom: 6.25rem;
}

h1 {
    text-transform: uppercase;
    color: #C69698;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    margin-bottom: 2rem;
}

span {
    color: #433A3B;
    font-weight: 600;
}

p {
    color: #D3B1B4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
}

input {
    height: 50px;
    border-radius: 30px;
    padding-left: 25px;
    border: 1px solid #E2D4D6;
    width: 440px;
}

::placeholder {
    color: #E6D6D7;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

button {
    border-radius: 30px;
    border: none;
    width: 90px;
    margin-left: -90px;
    color: white;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
